spring:
  datasource:
    url: jdbc:mysql://noti.cpwm4hbvoflk.ap-northeast-2.rds.amazonaws.com:3306/noti
    driver-class-name: com.mysql.cj.jdbc.Driver
    username: admin
    password: noti123!
  jpa:
    database-platform: org.hibernate.dialect.MySQL8Dialect
    hibernate:
      format_sql: true
      ddl-auto: update
    show-sql: true

    logging:
      level:
        org:
          hibernate:
            SQL: DEBUG
            type:
              descriptor:
                sql:
                  BasicBinder: TRACE